<page-document-config>
  <div>
  
  </div>

  <script>
    // require base class
    import Bottleneck from 'bottleneck';

    // export default
    export default class PageDocumentConfig {

    }
  </script>
</page-document-config>